*.3dmbak
*.3dm.rhl
*.stlbak

cmake-build-debug/
hide/
.idea/
__pycache__/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
